body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.background{
    background: rgba(196,12,12,1);
    background: -moz-linear-gradient(top, rgba(196,12,12,1) 0%, rgba(204,6,6,0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(196,12,12,1)), color-stop(100%, rgba(204,6,6,0.8)));
    background: -webkit-linear-gradient(top, rgba(196,12,12,1) 0%, rgba(204,6,6,0.8) 100%);
    background: -o-linear-gradient(top, rgba(196,12,12,1) 0%, rgba(204,6,6,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(196,12,12,1) 0%, rgba(204,6,6,0.8) 100%);
    background: linear-gradient(to bottom, rgba(196,12,12,1) 0%, rgba(204,6,6,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40c0c', endColorstr='#cc0606', GradientType=0 );
    width:100%;
    max-width:1980px;
    height:auto;
    min-height:615px;
    background-size:cover;
}

.login-wrap{
	width:100%;
	margin:auto;
	min-height:615px;
	position:relative;
    background:url(../login/background_dashboard_login.jpg) no-repeat center;
    background-size:cover;
}
.login-html{
	width:100%;
	height:100%;
    max-width:525px;
	padding:0px 70px 0px 70px;
    margin:0 auto;
    background-color:rgb(255,255,255,0.5);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-form .group .button:focus{
	text-transform:uppercase;
    cursor: pointer;
    outline:none;
}
.login-form .group .button:hover{
	text-transform:uppercase;
    cursor: pointer;
    outline:none;
    background-color:#0cc50c;
    transition:0.5s ease-in-out;
    box-shadow:-webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.16);
    
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#00AA00;
}
.login-form{
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
    outline:none;
    transition:0.5s ease-in-out;
}
.login-form .group .input:focus{
        box-shadow:-webkit-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 1px 6px 5px 0px rgba(0,0,0,0.16);
    transition:0.5s ease-in-out;
    
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#fff;
	font-size:12px;
}
.login-form .group .button{
	background:#00AA00;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ffffff;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}